# Ignore artifacts:
build
/coverage/
/build/
/dist/
/node_modules/
/public/
/vendor/
/tmp/
.gitignore
.coveragerc
.editorconfig
.gitattributes
.vscode
.travis.yml
.yarn-integrity
.yarn-metadata.json
.yarnclean
package-lock.json
yarn.lock
.github/*
doc/
**/.cache
**/__snapshots__
**/__fixtures__
**/__mocks__
**/__tests__
**/__test__
**/__test_output__
